<html>
    <head>
        <link href="/static/colored_ink.png" rel="icon" type="image/x-icon">
        <title>web</title>
    </head>

    <style>

        body  {
            background-image: url("/static/water_drop.png");
            background-size: 300px;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: 93% 30%;
        }
        p.a {
            font-family: "Dosis";
            font-size: 70px;
            font-weight: bold;
            letter-spacing: 10px;
        }
        p.b {
            font-family: "skyer";
            font-size: 45px;
        }

    </style>

    <body>

    <p class="a">Ink: Dosis</p>
    <p class="b">Programmer: HY얕은샘물M</p>
    <img src="/static/logo_design_2.png" width="200" height="300" >
    <br>
    <img src="/static/logo_design.png" width="400" height="210" >
    <br>
    {{name}}
    </body>
</html>